@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.hide-content {
  display: none;
}

.banner {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
  min-height: 500px;
  background-position: center;
  border-radius: 0.5rem;
}
#slide1 {
  background-image: url("../images/slider-1.jpg");
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
  height: 500px;
  background-position: center;
  border-radius: 0.5rem;
}
#slide2 {
  background-image: url("../images/slider-2.jpg");
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
  height: 500px;
  background-position: center;
  border-radius: 0.5rem;
}
#slide3 {
  background-image: url("../images/slider-3.jpg");
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
  height: 500px;
  background-position: center;
  border-radius: 0.5rem;
}
#slide4 {
  background-image: url("../images/slider-1.jpg");
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
  height: 500px;
  background-position: center;
  border-radius: 0.5rem;
}
